.place__container-text {
  width: 49.138%;
  margin: 48px 0 0 0;
}

@media screen and (max-width: 767.9px) {
    .place__container-text {
      min-width: 288px;
      width: 90%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 1023.9) {
    .place__container-text {
      width: 48.889%;
    }
  }

  @media screen and (min-width: 1280px) {
    .place__container-text {
      width: 49.187%;
      max-width: 484px;
    }
  }
