.place__image {
  width: 47.414%;
  max-width: 460px;
  min-width: 320px;
  height: fit-content;
  object-fit: cover;
  /* border-radius: 3%;  */
  margin: 48px 0 0 0;
}

@media screen and (max-width: 1023.9px) {
  .place__image {
    width: 47.222%;
  }
}


@media screen and (min-width: 1279.9px) {
  .place__image {
    width: 46.748%;
  }
}

@media screen and (max-width: 767.9px) {
  .place__image {
    width: 100%;
    margin: 36px auto 0 auto;
  }
}
