.footer__author {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  align-items: flex-end;
}

@media screen and (max-width:767.9px) {
  .footer__author {
    height: min-content;
    left: 0;
    bottom: 24px;
    top: auto;
    font-size: 14px;
    line-height: 14px;
  }
}
