.place__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  color: white;
  margin: 0 0 26px 0;
}

.place__text:last-of-type {
  margin: 0;
}

@media screen and (max-width:1023.9) {
  .place__text {
    font-size: 16px;
    margin: 48px 0 25px 0;
  }
}


@media screen and (max-width:767.9px) {
  .place__text {
    font-size: 16px;
    margin: 32px 0 25px 0;
  }
}
