.cover__title {
  width: 560px;
  height: 152px;
  margin: 0 auto 0 auto;
  color: white;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    height: 70px;
    width: 288px;
  }
}
